# Maven build output
target/
*.releaseBackup
pom.xml.releaseBackup
pom.xml.tag
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Logging
*.log
logs/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/
*.launch

# Visual Studio Code
.vscode/
.history/

# OS/System files
Thumbs.db
db.files
Desktop.ini
.DS_Store
